<footer class="footer">
	<small>
		Rails Project by Fan
	</small>
	<nav>
		<ul>
			<li><%= link_to "UW-Madison", '#'%></li>
			<li>|</li>
			<li><%= link_to "GUTS", '#'%></li>
		</ul>
	</nav>
</footer>