<footer class="footer">
	<small>
		Rails Project by Fan
	</small>
	<nav>
		<ul>
			<li><%= link_to "GUTS", 'http://guts.studentorg.wisc.edu/', target: "_blank" %></li>
			<li>|</li>
			<li><%= link_to "UW-Madison", 'http://www.wisc.edu/', target: "_blank" %></li>
		</ul>
	</nav>
</footer>